/Baseline GAN/data/celebA
/Baseline GAN/data/resized_celebA/
/Baseline GAN/data/Anime/
/Baseline GAN/data/resized_anime/
/Baseline GAN/samples/anime_gan_0.1/
/Baseline GAN/samples/anime_igan_0.2/
/Baseline GAN/samples/anime_sagan_0.1/
/Baseline GAN/samples/celeb_dcgan_1.0/
/Baseline GAN/samples/celeb_igan_0.2/
/Baseline GAN/samples/celeb_igan_0.3/
/Baseline GAN/samples/celeb_igan_1.0/
/Baseline GAN/samples/celeb_sagan_1.0/
/Baseline GAN/samples/gan_1/
